site_name: Algobook
site_url: https://neegor.github.io/algobook/
site_description: Сайт про всякие алгоритмы.
site_author: Igor Gorschal
repo_url: https://github.com/neegor/algobook
theme:
  name: material
  locale: ru
  logo: assets/logo.svg
  favicon: assets/favicon.png

  features:
    - content.code.copy
    - content.code.select
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

nav:
    - Начало: index.md
    - Графы: graphs/index.md
    - Машинное обучение: machine_learning/index.md
    - Финансовые: financial/index.md
    - Web программирование: web_programming/index.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences


extra_javascript:
  - assets/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css

